.trip-filter-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  }
  

  .search-btn {
    background-color: #fff;
    border: none;
    border-radius: 50%; 
    padding: 10px;
    transition: all 0.2s ease-in-out;
    box-shadow: none;
  }
  
  .search-btn:hover {
    transform: translateY(-3px);
    background-color: #f0f0f0; 
  }
  
  .search-btn:active {
    transform: scale(0.95); 
    
  }
  